In [1]:
from FamineStore import FamineStore
import matplotlib.pyplot as plt
import pandas as pd
from api.utils import DataFrameConverters as dfcs

In [2]:
store = FamineStore()

Loading data for all regions
Loading famine data for Awdal

C:\Users\fredd\Anaconda3\envs\scicomp\lib\site-packages\numpy\core\fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\fredd\Anaconda3\envs\scicomp\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Loading famine data for Gedo
Insufficient data for region Gedo, trying to fit with data will give an over-fitted model
Famine dataset loaded for Awdal
Region Gedo not defined, skipping
Using cached StanModel
Reading model fit from stan\fits\FamineModel_Beta_v1_fit_famine_beta_1_Awdal_fa5f488868aaf2077afbcb4bf514c335.fit
Calculating prediction data up to q1/2021
Famine dataset loaded for Awdal
Successfully loaded data, datasets and predictions for regions:
- Awdal
Skipped regions:
- Gedo

In [3]:
store.per_region_data["Awdal"]["food_df"].set_index("Item_Name")

,Date,Region,Market,Item,Price,Year,Month,Quarter
Item_Name,,,,,,,,
Maize (white) - Borama,2015.000000,Awdal,Borama,Maize (white),4000.0,2015,1,1
Maize (white) - Borama,2015.084932,Awdal,Borama,Maize (white),4000.0,2015,2,1
Maize (white) - Borama,2015.161644,Awdal,Borama,Maize (white),4000.0,2015,3,1
Maize (white) - Borama,2015.246575,Awdal,Borama,Maize (white),4000.0,2015,4,2
Maize (white) - Borama,2015.328767,Awdal,Borama,Maize (white),4000.0,2015,5,2
...,...,...,...,...,...,...,...,...
Rice (imported) - Borama,2019.580822,Awdal,Borama,Rice (imported),6250.0,2019,8,3
Rice (imported) - Borama,2019.665753,Awdal,Borama,Rice (imported),6475.0,2019,9,3
Rice (imported) - Borama,2019.747945,Awdal,Borama,Rice (imported),6700.0,2019,10,4
Rice (imported) - Borama,2019.832877,Awdal,Borama,Rice (imported),6500.0,2019,11,4
Rice (imported) - Borama,2019.915068,Awdal,Borama,Rice (imported),6500.0,2019,12,4

In [4]:
# Monthly
store.per_region_data["Awdal"]["food_df"]

            Date Region  Market             Item   Price  Year  Month  Quarter
0    2015.000000  Awdal  Borama    Maize (white)  4000.0  2015      1        1
1    2015.084932  Awdal  Borama    Maize (white)  4000.0  2015      2        1
2    2015.161644  Awdal  Borama    Maize (white)  4000.0  2015      3        1
3    2015.246575  Awdal  Borama    Maize (white)  4000.0  2015      4        2
4    2015.328767  Awdal  Borama    Maize (white)  4000.0  2015      5        2
..           ...    ...     ...              ...     ...   ...    ...      ...
175  2019.580822  Awdal  Borama  Rice (imported)  6250.0  2019      8        3
176  2019.665753  Awdal  Borama  Rice (imported)  6475.0  2019      9        3
177  2019.747945  Awdal  Borama  Rice (imported)  6700.0  2019     10        4
178  2019.832877  Awdal  Borama  Rice (imported)  6500.0  2019     11        4
179  2019.915068  Awdal  Borama  Rice (imported)  6500.0  2019     12        4

[180 rows x 8 columns]

In [5]:
# Monthly
store.per_region_data["Awdal"]["ffood_df"].shape

(56, 8)

In [6]:
# Daily - Sum over by month
store.per_region_data["Awdal"]["conflict_df"]

   Region         Date Fatalities  Year Month Quarter
0   Awdal  2015.000000          0  2015     1       1
1   Awdal  2015.084932          0  2015     2       1
2   Awdal  2015.161644          0  2015     3       1
3   Awdal  2015.246575          0  2015     4       2
4   Awdal  2015.328767          0  2015     5       2
5   Awdal  2015.413699          0  2015     6       2
6   Awdal  2015.495890          0  2015     7       3
7   Awdal  2015.580822          1  2015     8       3
8   Awdal  2015.665753          0  2015     9       3
9   Awdal  2015.747945          3  2015    10       4
10  Awdal  2015.832877          0  2015    11       4
11  Awdal  2015.915068          0  2015    12       4
12  Awdal  2016.000000          0  2016     1       1
13  Awdal  2016.084699          0  2016     2       1
14  Awdal  2016.163934          1  2016     3       1
15  Awdal  2016.248634          0  2016     4       2
16  Awdal  2016.330601          0  2016     5       2
17  Awdal  2016.415301          0  2016     6       2
18  Awdal  2016.497268          0  2016     7       3
19  Awdal  2016.581967          1  2016     8       3
20  Awdal  2016.666667          0  2016     9       3
21  Awdal  2016.748634          0  2016    10       4
22  Awdal  2016.833333          0  2016    11       4
23  Awdal  2016.915301          0  2016    12       4
24  Awdal  2017.000000          0  2017     1       1
25  Awdal  2017.084932          0  2017     2       1
26  Awdal  2017.161644          0  2017     3       1
27  Awdal  2017.246575          0  2017     4       2
28  Awdal  2017.328767          0  2017     5       2
29  Awdal  2017.413699          0  2017     6       2
30  Awdal  2017.495890          0  2017     7       3
31  Awdal  2017.580822          0  2017     8       3
32  Awdal  2017.665753          2  2017     9       3
33  Awdal  2017.747945          0  2017    10       4
34  Awdal  2017.832877          0  2017    11       4
35  Awdal  2017.915068          0  2017    12       4
36  Awdal  2018.000000          0  2018     1       1
37  Awdal  2018.084932          0  2018     2       1
38  Awdal  2018.161644          0  2018     3       1
39  Awdal  2018.246575          0  2018     4       2
40  Awdal  2018.328767          0  2018     5       2
41  Awdal  2018.413699          0  2018     6       2
42  Awdal  2018.495890          0  2018     7       3
43  Awdal  2018.580822          0  2018     8       3
44  Awdal  2018.665753          0  2018     9       3
45  Awdal  2018.747945          0  2018    10       4
46  Awdal  2018.832877          0  2018    11       4
47  Awdal  2018.915068          0  2018    12       4

In [7]:
# Daily - take percentage changes?
store.per_region_data["Awdal"]["weather_df"]

      Station         Date  Temperature  Year Month Quarter
0   EGAL INTL  2016.248634    76.566667  2016     4       2
1   EGAL INTL  2016.330601    76.566667  2016     5       2
2   EGAL INTL  2016.415301    76.566667  2016     6       2
3   EGAL INTL  2016.497268    76.566667  2016     7       3
4   EGAL INTL  2016.581967    78.400000  2016     8       3
5   EGAL INTL  2016.666667    80.116667  2016     9       3
6   EGAL INTL  2016.748634    77.488889  2016    10       4
7   EGAL INTL  2016.833333    70.482143  2016    11       4
8   EGAL INTL  2016.915301    67.837037  2016    12       4
9   EGAL INTL  2017.000000    68.300000  2017     1       1
10  EGAL INTL  2017.084932    68.865385  2017     2       1
11  EGAL INTL  2017.161644    77.354839  2017     3       1
12  EGAL INTL  2017.246575    81.250000  2017     4       2
13  EGAL INTL  2017.328767    79.983871  2017     5       2
14  EGAL INTL  2017.413699    79.306897  2017     6       2
15  EGAL INTL  2017.495890    77.583871  2017     7       3
16  EGAL INTL  2017.580822    77.358065  2017     8       3
17  EGAL INTL  2017.665753    78.333333  2017     9       3
18  EGAL INTL  2017.747945    77.661290  2017    10       4
19  EGAL INTL  2017.832877    70.886667  2017    11       4
20  EGAL INTL  2017.915068    65.080645  2017    12       4
21  EGAL INTL  2018.000000    64.654839  2018     1       1
22  EGAL INTL  2018.084932    72.396429  2018     2       1
23  EGAL INTL  2018.161644    75.451613  2018     3       1
24  EGAL INTL  2018.246575    77.656667  2018     4       2
25  EGAL INTL  2018.328767    79.129032  2018     5       2
26  EGAL INTL  2018.413699    77.800000  2018     6       2
27  EGAL INTL  2018.495890    76.593548  2018     7       3
28  EGAL INTL  2018.580822    76.887097  2018     8       3
29  EGAL INTL  2018.665753    79.966667  2018     9       3
30  EGAL INTL  2018.747945    76.692857  2018    10       4
31  EGAL INTL  2018.832877    73.241667  2018    11       4
32  EGAL INTL  2018.915068    67.758065  2018    12       4
33  EGAL INTL  2019.000000    67.258065  2019     1       1
34  EGAL INTL  2019.084932    72.692857  2019     2       1
35  EGAL INTL  2019.161644    77.822581  2019     3       1
36  EGAL INTL  2019.246575    81.106667  2019     4       2
37  EGAL INTL  2019.328767    81.533333  2019     5       2
38  EGAL INTL  2019.413699    78.203333  2019     6       2
39  EGAL INTL  2019.495890    77.751613  2019     7       3
40  EGAL INTL  2019.580822    77.371429  2019     8       3
41  EGAL INTL  2019.665753    77.371429  2019     9       3
42  EGAL INTL  2019.747945    73.680000  2019    10       4
43  EGAL INTL  2019.832877    70.456667  2019    11       4
44  EGAL INTL  2019.915068    66.567742  2019    12       4

In [8]:
# Monthly
store.per_region_pred_data["Awdal"]["food_df"]

            Date Region  Market           Item   Price  Year  Month  Quarter
0    2015.000000  Awdal  Borama  Maize (white)  4000.0  2015      1        1
1    2015.084932  Awdal  Borama  Maize (white)  4000.0  2015      2        1
2    2015.161644  Awdal  Borama  Maize (white)  4000.0  2015      3        1
3    2015.246575  Awdal  Borama  Maize (white)  4000.0  2015      4        2
4    2015.328767  Awdal  Borama  Maize (white)  4000.0  2015      5        2
..           ...    ...     ...            ...     ...   ...    ...      ...
220  2020.833333  Awdal  Borama  Sorghum (red)  4000.0  2020     11        4
221  2020.915301  Awdal  Borama  Sorghum (red)  4000.0  2020     12        4
222  2021.000000  Awdal  Borama  Sorghum (red)  4000.0  2021      1        1
223  2021.084932  Awdal  Borama  Sorghum (red)  4000.0  2021      2        1
224  2021.161644  Awdal  Borama  Sorghum (red)  4000.0  2021      3        1

[225 rows x 8 columns]

In [9]:
x = store.per_region_pred_data["Awdal"]["conflict_df"].groupby(["Region", "Year", "Month"], as_index=False).sum()
x.Date = x.Year + (x.Month -1) / 12
x.Quarter = x.Month // 4 + 1
x = x[["Region", "Year", "Month", "Date", "Fatalities", "Quarter"]]
x = x.set_index(["Region", "Year", "Month"])

print(x)
for year in x.index.get_level_values(1).unique():
    for month in range(1, 13):
        try:
            x.loc["Awdal", year, month]
        except KeyError:
            x.loc["Awdal", year, month]=(year + (month - 1) / 12, 0, month // 4 + 1)

x = x.sort_values(by="Date")

C:\Users\fredd\Anaconda3\envs\scicomp\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: "['Quarter', 'Fatalities'] not in index"

In [10]:
plt.plot(x.Date, x.Fatalities)

AttributeError: 'DataFrame' object has no attribute 'Fatalities'

In [ ]:
x.query("Year < 2018")

In [11]:

x

   Region  Year  Month         Date
0   Awdal  2015      1  2015.000000
1   Awdal  2015      2  2015.083333
2   Awdal  2015      3  2015.166667
3   Awdal  2015      4  2015.250000
4   Awdal  2015      5  2015.333333
..    ...   ...    ...          ...
70  Awdal  2020     11  2020.833333
71  Awdal  2020     12  2020.916667
72  Awdal  2021      1  2021.000000
73  Awdal  2021      2  2021.083333
74  Awdal  2021      3  2021.166667

[75 rows x 4 columns]

In [12]:
x = store.per_region_pred_data["Awdal"]["weather_df"].groupby(["Year", "Month"], as_index=False).mean()
x.Date = x.Year + (x.Month - 1) / 12
x.Quarter = x.Month // 4 + 1
x = x[["Year", "Month", "Date", "Temperature", "Quarter"]]
x = x.set_index(["Year", "Month"])
x.index = pd.MultiIndex.from_tuples([(ix[0], int(ix[1])) for ix in x.index.tolist()])
x.index.levels[-1].astype(int)

data = [(2015, 12, 2015 + 11/12, 70, 4)]

i = 0
for year in x.index.get_level_values(0).unique():
    for month in range(1, 13):
        try:
            q = x.loc[year, float(month)]
            data.append((year, month, q[0], q[1], q[2]))
        except KeyError:
            data.append((year, month, year + (month - 1) / 12, data[i][3], month // 4 + 1))
            
    i+=1 
            
df = pd.DataFrame(data, columns = ["Year", "Month", "Date", "Temperature", "Quarter"])

C:\Users\fredd\Anaconda3\envs\scicomp\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: "['Quarter'] not in index"

In [13]:
data

NameError: name 'data' is not defined